

/* Elements principaux de la page */
/*body
{
  background: url('../images/fond2.jpg');
  font-family: 'Dayrom','Trebuchet MS', Arial, sans-serif;
  color: #181818;
  
}*/

.demo_wrap {
    position: relative;
    background: #FFFFFF;
    overflow: hidden;
}
.demo_wrap h1 {
    padding: 25px;
    position: relative;
    z-index: 2;
}

.demo_wrap p {
    padding: 5px;
    position: relative;
    z-index: 2;
}
/* You could use :after - it doesn't really matter */
.demo_wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.55;
    background-image: url('../images/fond2.jpg');
    background-size: cover;
    background-repeat: repeat;
}

#contenu {
    float: right;
    margin-top: 20000px;
    margin-right: 5000px;
}

#notice a:hover
{
  font-weight: bold;
  color: #1E90FF;
}
