

/* Elements principaux de la page */
/*body
{
  background: url('../images/fond2.jpg');
  font-family: 'Dayrom','Trebuchet MS', Arial, sans-serif;
  color: #181818;
  
}*/

.demo_wrap {
    position: relative;
    background: #FFFFFF;
    overflow: hidden;
}
.demo_wrap h1 {
    padding: 25px;
    position: relative;
    z-index: 2;
}

.demo_wrap p {
    padding: 5px;
    position: relative;
    z-index: 2;
}
/* You could use :after - it doesn't really matter */
.demo_wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.55;
    background-image: url('../images/fond2.jpg');
    background-size: cover;
    background-repeat: repeat;
}

.bouton_rouge:nth-child(1)
{
    height: 25px;
    right: 5px;
    bottom: 5px;
    background-image: linear-gradient(#00AA00,#005500);
    border: 1px solid #228B22;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 3px 8px 0px 8px;
    /*color: white;*/
    text-decoration: none;
  box-shadow: 6px 6px 6px black;
}
.bouton_rouge:nth-child(2)
{
    height: 25px;
    right: 5px;
    bottom: 5px;
    background-image: linear-gradient(#B20000,#330000);/* #55AAFF,#000055*/
    border: 1px solid #000055;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 3px 8px 0px 8px;
    /*color: white;*/
    text-decoration: none;
  box-shadow: 6px 6px 6px black;
}
#contenu {
    float: right;
    margin-top: 20000px;
    margin-right: 5000px;
}

#notice a:hover
{
  font-weight: bold;
  color: #1E90FF;
}
